<section class="py-2">
  <div class="row">
    <div class="col-md-6 text-center">
      <h1 class="display-3 mt-3 pt-5">
        The Oregon Sessions
      </h1>
      <p>finding God in simple places</p>
      <form action="/charge" method="POST">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_lp8BmFIO2cR5VLED0xJMLNqY00jqSmId7g" data-amount="1500" data-name="Music from My Heart"
          data-description="Music by Nebulka" data-image="/img/marketplace.png" data-locale="auto">
          </script>
        <script>
          // Hide default stripe button
          document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
        </script>
        <button type="submit" class="btn btn-outline-dark text-white btn-lg">$15</button>
      </form>
      <br />

      <figure>
        <figcaption>Listen to me:</figcaption>
        <audio controls src="/bookstore/public/assets/Tobu.mp3">
          Your browser does not support the
          <code>audio</code> element.
        </audio>
      </figure>
    </div>
    <div class="col-md-6">
      <img src="/img/book.png" alt="" class="img-fluid">
    </div>
  </div>
</section>